/** TODO add description */

/*******************************************************************************
********************************* GENERAL STYLING ******************************
*******************************************************************************/

/** TODO put general styling in separate CSS file */

body {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #C5E8ED; /* Pastel teal */
    font: 0.9em calibri, helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
}

/**
* Wraps around all elements on the page (except possibly the toolbar).
*/
#wrapper {
    clear: both;
    margin: 0 auto;
    width: 95%;
    text-align: center;
    display: block;
}


.contentContainer {
    display: block;
    background-color: #fff;
    border-style: ridge;
    text-align: center;
    margin-bottom: 10px;
}

hr {
    width: 80%;
    border: 0;
    height: 2px;
    background-color: #005B94;
    color: #005B94;
}

textarea.private {
    background-color: #CCC4C6;
}

#progMsg, #loadingImage {
    display: inline-block;
}

table {
    margin: 0 auto;
    text-align: left;
}

textarea {
    resize: none;
}

/*input[readonly], select[readonly] {
    background: #E3E1E1; * light grey 
}*/

/*******************************************************************************
****************************** END GENERAL STYLING *****************************
*******************************************************************************/

/*#contentPane {
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}*/

#shipping, #production, #emailer {
    margin-left: auto;
    margin-right: auto;
    background-color: #E8F5FA;
    display: inline-block;
}

.shipment {
    margin-left: auto;
    margin-right: auto;
    background-color: #E8F5FA;
    display: block;
    clear: both;
}

hr {
    clear: both;
}

#shipping {
    float: left;
    width: 64%;
}

#emailer {
    width: 800px;
    float: left;
}

#production {
    width: 34%;
    float: right;
}

#Job_Name {
    width: 260px;
}



#Shipping_Address, #Additional {
    width: 300px;
    height: 100px;
}

#Shipping_Address {
    margin: 10px auto 0 auto;
    display: block;
}

.formOpt {
    font-weight: bold;
}

.Form {
    width: 200px;
}

.labelArea {
    width: 300px;
    height: 200px;
}

.liveSlip {
    float: left;
    width: 32%;
}

.history {
    width: 200px;
    text-align: left;
}