

header {
	width: 100%;
	display:inline-block;
	div {
		display: inline-block;
		vertical-align: top;
		&.quote-info {
			h1 {
				margin-bottom: 0;
			}
			h3 {
				margin-top: 0.2em;
				margin-bottom: 0.2em;
			}
		}
	}

	.company-logo {
		width: 20%;
	}

	.company-header {
		width: 34%;
		h4 {
			margin-bottom: 0.2em;
		}
		p {
			margin-top: 0.2em;
		}
	}

	.quote-info {
		width: 44%;
	}

}
.quote-container {
	margin-top: 1em;
	width: 100%;
	border: 1px solid black;
}

.summary {
	border: {
		top: 1px solid black;
		bottom: 1px solid black;
		left: 1px solid black;
		right: 1px solid black;
	}
}

.quantity-container {
	width: 30%;
	&:nth-child(6) {
		page-break-after: always;
	}	
	display: inline-block;
	vertical-align: top;
	border: 1px solid black;
	padding: {
		top: 3px;
		right: 3px;
		bottom: 3px;
		left: 3px;
	}
	margin: {
		top: 3px;
		right: 3px;
		bottom: 3px;
		left: 3px;
	}
}
.quote-container {
	td {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	tr {
		&:nth-child(2n) {
			background-color: #ededed;
		}
	}
}
.total {
	font-weight: bold;
}

.quantity_id {
	width: 10%;
}
.units {
	width: 10%;
}
.units_per_sheet {
	width: 10%;
}

.total_per_m {
	width: 10%;
}

.total {
	width: 10%;
}
.notes {
	width: 50%;
}

@media print 
{
    #emailer
    {
        display:none;
    }
}



.loader {
	width: 50px;
	height: 50px;
	border-right: 8px solid #4D4D4D;
	border-bottom: 8px solid #4D4D4D;
	
	margin: auto;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-animation: rotate 2s infinite linear;
	-moz-animation: rotate 2s infinite linear;
	-ms-animation: rotate 2s infinite linear;
	animation: rotate 2s infinite linear;
}

.loader.yellow {
	border-left: 8px solid #CCC366;
	border-top: 8px solid #CCC366;
}
@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-ms-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

.message {
	border: 1px solid black;
	padding-left: 3em;
	padding-right: 3em;
}
