.job {
    display: block;
    width: 60%;
    /*float: left;*/
    padding: 4px;
    border: 1px solid black;

}
/*******************************************************************************
* Style sheet for the job feed.
* --------------------------------
* Written by Daniel Kats for Alternative Die Cutting, Inc.
* July 4, 2011
*
*******************************************************************************/

#jobFrame {
    height: 100%;
    background-color: #fff;
    font-family: calibri, helvetica, arial, sans-serif;
    margin: 5px;
}



.leftPane {
    float: left;
    padding: 0;
    margin: 0;
    width: 30%;
    text-align: left;
    
    color: #D41E5D; /* pink-red */
}
.rightPane {
    float: right;
    padding: 0;
    margin: 0;
    width: 30%;
    text-align: left;
    
    color: #D41E5D; /* pink-red */
}

.date {
    font-size: 1.5em;
}

.leftPane a:link, .leftPane a:visited, .leftPane a:active {
    font-size: 1.1em;
    text-decoration: none;
    color: #1B8EE0;
/*    color: inherit;*/
}

.jobContent {
    float: right;
    padding: 0;
    margin: 0;
    text-align: right;
    width: 70%;
}

.time, .jobContent {
    display: inline-block;
    position: relative;
}

.jobName {
    display: block;
    font-weight: bold;
}

hr {
    width: 30%;
/*    display: block;*/
    color: #005B94;
    background-color: #005B94; /* dark blue */
    height: 2px;
    clear: both;
    display: none;
}

#jobs h2 {
    text-align: center;
}

#frameInfo {
    clear: both;
    text-align: center;
    font-size: 0.8em;
    color: #9E9899; /* grey */
}
