.docket-tool-container {
  min-height: 90vh;
  background-color: var(--light-grey);
  margin: 0.5rem;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 0.5vw;
}

.docket-header {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0.75vh 0.5vw;
  color: var(--light-accent);
}

.docket-info {
  width: 100%;
  margin: 1vh 0;
  border-radius: 15px;
  overflow: auto;
  background-color: var(--dark-grey);
}

.docket-info-table {
  height: 100%;
  font-size: 1.25rem;

  td {
    padding: unset;
    background-color: unset;
    color: var(--light-accent);
    vertical-align: bottom;
  }
  thead {
    background-color: unset;
    border-bottom: 2px solid var(--light-accent);
  }
  th {
    border: unset;
  }
  tbody {
    background-color: var(--dark-grey);

    tr {
      border-bottom: unset;
      &:hover {
        background-color: unset;
      }
    }
    td {
      border-right: unset;
    }
  }
}

#docket-info-table {
  margin: 1vh 0;
  td {
    padding: 0 0.5vw;
    align-content: center;
    vertical-align: middle;
  }
  input {
    font-size: 1.25rem;
  }
  select {
    font-size: 1.25rem;
  }
  .docket-info-input {
    width: 10vw;
  }
}
.docket-info-select {
  width: 10vw;

  height: 100%;
  font-size: 1.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  background-color: var(--white);
  color: var(--text-black);
  z-index: 2;
}

.customer-select__control {
  min-height: unset !important;
  height: 100%;
}

.customer-select__value-container {
  padding-left: 5px;
}

.customer-select__menu {
  position: absolute;
  margin-top: 1px;
  background-color: field;
}

.customer-select__menu-list {
  // height: 6.25vh;
  background-color: field;
}

.customer-select__option {
  padding: 0 5px;

  &:hover,
  &:active {
    background-color: lightblue;
  }
}

.docket-finishing {
  width: 100%;
  border-radius: 15px;
  padding: 1vh 0.25vw;
  margin: 0 0 0.5vh 0;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
}

.docket-forms {
  width: 100%;
  border-radius: 15px;
  padding: 1vh 0.25vw;
  background-color: var(--dark-grey);
  margin: 0.5vh 0;
  display: flex;
  flex-direction: column;
}

.docket-shipping-history {
  width: 100%;
  border-radius: 15px;
  padding: 1vh 0.25vw;
  background-color: var(--dark-grey);
  margin: 0.5vh 0;
  display: flex;
  flex-direction: column;
}

#shipment-history-table{
  th {
    background-color: unset;
    color: var(--light-accent);
    font-weight: 300;
    padding: 0.75vh 0;
  }
  tbody{
    tr{
      border-bottom: 2px solid var(--light-accent);
    }
  }
  td {
    padding: 1vh 0;
    text-align: center;
    vertical-align: middle;
    div { 
      padding: 1vh 0;
    }
  }
}

.docket-column-container {
  display: flex;
  flex-direction: row;
}

.docket-input-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#column1 {
  width: 100%;
  justify-content: flex-start;
  padding: 0 0.5vw 0 0;
}
#column2 {
  width: 50%;
  justify-content: flex-start;
}

.die-info {
  padding: 0 0.25vw;
}

.die-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #000000;
  border-radius: 12px;
  overflow: auto;
}

.die-tab {
  width: 100%;
  padding: 0.75vh 0.5vw;
  width: 10ch;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    transition: background-color 200ms;
  }
}

.die-options {
  border-radius: 15px;
  overflow: auto;
  padding: 0 0.25vw;
}

#finishing-info-table {
  td {
    padding: 0.5vh 0.5vw;
    vertical-align: middle;
  }
  input {
    font-size: 1.25rem;
  }
  select {
    width: 100%;
    font-size: 1.25rem;
  }
}

#finishing-option-table {
  height: 100%;
  td {
    padding: 0.25vh 0.5vw;
    user-select: none;
  }
  label {
    cursor: pointer;
  }
}

.finishing-notes {
  padding: 0 0.25vw;
}

.finishing-select {
  border-radius: 15px;
  width: 20vw;
  font-size: 1rem;
}

.finishing-select__control {
  height: 17.5vh;
}

.finishing-select__value-container {
  height: 17vh;
  align-items: baseline !important;
}

.docket-special-instructions {
  padding: 1vh 0.25vw;
  height: 20vh;
  margin: 0 0 0.5vh 0;
  background-color: var(--dark-grey);
  border-radius: 15px;
  overflow: auto;
  text-align: center;
  h2 {
    text-align: left;
  }
}

.instruction-notes {
  padding: 0 0.5vw;
  height: 70%;
}

.instructions-input {
  border-radius: 15px;
  width: 100%;
  padding: 0.5vh 0.5vw;
  font-size: 1rem;
  resize: none;
  height: 100%;
}

.docket-docket-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--dark-grey);
  color: var(--light-accent);
  border-radius: 15px;
  margin: 0.5vh 0;
  padding: 1vh 0.75vw;
  word-wrap: break-word;
  h2 {
    max-width: 32.5vw;
  }
  button {
    align-self: center;
    width: 20vw;
    border-radius: 15px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    font-size: 1.25rem;
    margin-top: 10px;
    &:hover {
      background-color: var(--light-accent);
      color: var(--dark-grey);
    }
    &:active {
      background-color: var(--dark-grey);
      color: var(--light-grey);
    }
  }
}

.docket-requote-memo {
  padding: 1vh 0.25vw;

  background-color: var(--dark-grey);
  border-radius: 15px;
  overflow: auto;
  margin: 0.5vh 0;
  .closing-date {
    label {
      font-size: 1.25vw;
      padding-left: 0.75vw;
      color: var(--light-accent);
      input {
        font-size: 1.25vw;
        width: 10vw;
        padding-left: 0.25vw;
        margin-left: 0.5vw;
      }
    }
  }
}

.requote-memo-input {
  border-radius: 15px;
  width: 100%;
  padding: 0.5vh 0.5vw;
  font-size: 1rem;
  resize: none;
}

.docket-extra-charges {
  padding: 1vh 0.25vw;
  background-color: var(--dark-grey);
  border-radius: 15px;
  overflow: auto;
  margin: 0.5vh 0;
  display: flex;
  flex-direction: column;
}

#extra-charges-table {
  height: unset;
  th {
    background-color: unset;
    color: var(--light-accent);
    font-weight: 300;
    padding: 0.75vh 0;
  }
  td {
    padding: 0.5vh 0;
    text-align: center;
    vertical-align: middle;
    input {
      max-width: 8.5vw;
      font-size: 1.25rem;
    }
  }
}

.add-extra-cost-button {
  text-align: center;
  margin: 1vh auto;
  width: 20vw;
  border-radius: 15px;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  font-size: 2rem;
  &:hover {
    background-color: var(--light-accent);
    color: var(--dark-grey);
  }
  &:active {
    background-color: var(--dark-grey);
    color: var(--light-grey);
  }
}

.delete-extra-cost-button {
  width: 2vw;
  padding: 0.5vh 0;
  height: 100%;
  background-color: var(--dark-grey);
  color: var(--light-accent);
  font-size: 1rem;
  &:hover {
    background-color: var(--light-accent);
    color: var(--dark-grey);
  }
}

#forms-table {
  th {
    background-color: unset;
    color: var(--light-accent);
    font-weight: 300;
    padding: 0.75vh 0;
  }
  td {
    padding: 0.5vh 0;
    text-align: center;
    vertical-align: middle;
    input {
      max-width: 8.5vw;
      font-size: 1.25rem;
    }
  }
}

.add-form-extra-button,
.delete-form-button {
  width: 2vw;
  padding: 0.5vh 0;
  height: 100%;
  background-color: var(--dark-grey);
  color: var(--light-accent);
  font-size: 1rem;
  &:hover {
    background-color: var(--light-accent);
    color: var(--dark-grey);
  }
}

.add-form-button {
  text-align: center;
  margin: 1vh auto;
  width: 20vw;
  border-radius: 15px;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  font-size: 2rem;
  &:hover {
    background-color: var(--light-accent);
    color: var(--dark-grey);
  }
  &:active {
    background-color: var(--dark-grey);
    color: var(--light-grey);
  }
}
