.quotespage-container {
  display: flex;
}

.new-quote-menu-container {
  width: 20vw;
  height: max-content;
  background-color: var(--dark-grey);
  margin: 1vh 0.5vw;
  border-radius: 15px;
}

.new-quote-title {
  text-align: center;
  h1 {
    padding-top: 0.25rem;
    font-size: 2rem;
  }

  font-weight: bold;
  color: var(--light-accent);
  margin: 0.75vh 0;
  user-select: none;
}

.new-quote-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.new-quote-field {
  width: 80%;
  height: 2rem;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0 1vw;
  margin: 0.5vh 0;
  font-size: 16px;
}

.new-quote-submit {
  width: 80%;
  height: 5vh;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0 1vw;
  margin: 0.5vh 0 1vh 0;
  font-size: 20px;
  background-color: #728ef4;
  color: var(--light-accent);
  cursor: pointer;
  &:hover {
    background-color: var(--light-accent);
    color: var(--dark-grey);
    transition: background-color 200ms;
  }
}

.quotes-list-container {
  width: 100%;
  margin: 1vh 0.5vw;
  border-radius: 15px;
  overflow: auto;
}
