<div class="row">
    <div class="columns large-12">
        <table class="due-dates">
            <tbody class="table-top-bar">
                <tr class="hide-on-print">
                    <td class="duedates-filter" colspan="6">
                        <input class="duedates-filter" type="text" placeholder="Filter by Customer" ng-model="customerFilter"/>
                        <div ng-click="getJobs('icon-checkmark')" class="icon-click icon-checkmark filter-icon">
                        </div>
                        <div ng-click="getJobs('icon-question-mark')" class="icon-click icon-question-mark filter-icon">
                        </div>
                        <div ng-click="getJobs('icon-spam')" class="icon-click icon-spam filter-icon">
                        </div>
                        <div ng-click="getJobs('icon-busy')" class="icon-click icon-busy filter-icon">
                        </div>
                        <div ng-click="sortByLogDate()">Sort By Log Date
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="filteredJobs.length">
                <tr ng-repeat="job in filteredJobs"
                    ng-include="'templates/ProductionRow.html'"></tr><!-- One row of a job. -->
            </tbody>
            <tbody ng-show="filteredJobsByLogDate.length">
                <tr ng-repeat="job in filteredJobsByLogDate"
                    ng-include="'templates/ProductionRow.html'"></tr><!-- One row of a job. -->
            </tbody>
        </table>
        <div class="due-dates-feed">
            <table>
                <tbody ng-repeat="date_range in jobs" ng-hide="date_range.jobs.length == 0">
                    <tr>
                        <th colspan="5">{{date_range.name + 'T08' |date:"EEEE, MMMM d"}}</th>
                    </tr>
                    <tr ng-repeat="job in date_range.jobs | filter:customerFilter"
                        ng-include="'templates/ProductionRow.html'"></tr><!-- One row of a job. -->
                    
                </tbody>
            </table>
        </table>
    </div>
</div><!-- Wrapper -->