.menus-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 45vh;
}
.search-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 1vh 0.5vw;
  background: var(--dark-grey);
  border-radius: 15px;
}

#homepage-new-quote {
  width: 100%;
}

#homepage-new-docket {
  width: 100%;
}

.search-container {
  padding: 0 0.5vw;
}

.search-header {
  padding: 1vh 1vw;
  user-select: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.search-title {
  h2 {
    color: var(--light-accent);
    font-weight: 200;
    font-size: 24px;
  }
}

.search-field {
  font-size: 16px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  margin: 1vh 0;
}

.search-field-customer-select {
  width: 80%;
}

.quote-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.job-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-submit {
  height: 5vh;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0 1vw;
  margin-left: 1vw;
  font-size: 16px;
  background-color: #728ef4;
  color: var(--light-accent);
  cursor: pointer;
  &:hover {
    background-color: var(--light-accent);
    color: var(--dark-grey);
    transition: background-color 200ms;
  }
}

// ITEMS CONTAINER

.items-list-container {
  margin: 2vh 1vw;
  border-radius: 15px;

  overflow-y: scroll;
}

.table-tabs-container {
  display: flex;
  width: fit-content;

  h2 {
    padding: 1.25vh 5vw 1.25vh 1vw;
    background-color: var(--dark-grey);
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
    color: var(--light-accent);

    &:hover {
      background-color: var(--light-accent);
      transition: background-color 200ms;
      color: black;
    }
  }
  .selected {
    background-color: #898989;
  }
}
