.search-menu {
  margin: 2vh 1vw;
  background: var(--dark-grey);
  border-radius: 15px;
}

.job-search-container {
  .search-header {
    border-radius: 15px 15px 0px 0px;
  }
}

.die-search-container {
  .search-header {
    cursor: default;
    border-radius: 0px 0px 15px 15px;
    &:hover {
      background-color: unset;
      transition: unset;
      h2,
      .expansion-icon {
        color: var(--light-accent);
      }
    }
  }
}

.search-header {
  padding: 1vh 1vw;
  user-select: none;
  display: flex;
  align-items: center;
  width: 25vw;
  justify-content: space-between;

  cursor: pointer;
  &:hover {
    background-color: var(--light-accent);
    transition: background-color 200ms;
    h2,
    .expansion-icon {
      color: black;
    }
  }
}

.search-title {
  h2 {
    color: var(--light-accent);
    font-weight: 200;
    font-size: 24px;
  }
}
.expansion-icon {
  color: var(--light-accent);
  font-size: 24px;
  display: contents;
}

.search-field {
  font-size: 16px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  margin-left: 1vw;
}

.search-submit {
  height: 5vh;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0 1vw;
  margin-left: 1vw;
  font-size: 16px;
  background-color: #728ef4;
  color: var(--light-accent);
  cursor: pointer;
  &:hover {
    background-color: var(--light-accent);
    color: var(--dark-grey);
    transition: background-color 200ms;
  }
}

// ITEMS CONTAINER

.items-list-container {
  margin: 2vh 1vw;
  border-radius: 15px;

  overflow-y: scroll;
}

.table-tabs-container {
  display: flex;
  width: fit-content;

  h2 {
    padding: 1.25vh 5vw 1.25vh 1vw;
    background-color: var(--dark-grey);
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
    color: var(--light-accent);

    &:hover {
      background-color: var(--light-accent);
      transition: background-color 200ms;
      color: black;
    }
  }
  .selected {
    background-color: #898989;
  }
}
