.quote-tool-container {
  min-height: 90vh;
  margin: 0.5vw;
  text-align: center;
}
.rate-editor-popup {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  left: 15%;
  border: 3px solid var(--white);
  border-radius: 15px;
  z-index: 9;
  background-color: var(--dark-grey);
  color: var(--light-accent);
  padding: 1vh 2.5vw;
  h1 {
    user-select: none;
    padding: 0.5vh 0;
  }
  h3 {
    user-select: none;
    padding: 0.5vh 0;
  }
  label {
    text-align: left;
    font-size: 1.2vw;
  }
  input {
    font-size: 1.2vw;
  }
  button {
    margin: 1.5vh 0;
    padding: 0.5vh 0;
  }
}

.job-item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.quote-info-container {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.jobs-list {
  background-color: var(--light-grey);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.job-notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 15vw;
  margin: 0.5vh 0.25vw;
  min-height: 17vh;
  textarea {
    width: 100%;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 1.1vw;
    resize: none;
  }
}

.job-input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 17vh;
  background-color: var(--dark-grey);
  border-radius: 5px;
  padding: 0 0.25vw;
  margin: 0.5vh 0.25vw;
}

.quantities-tables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.job-input-label {
  color: var(--light-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: unset;
}

.job-input {
  width: 7ch;
  height: 3.5vh;
  margin-left: 0.25vw;
  text-align: center;
}
.small {
  width: 6ch;
}

.large {
  width: 8.5ch;
}

.job-input,
.job-input-label {
  font-size: 1.1vw;
}

.input-break {
  width: 2.75vw;
}

.job-input-table {
  border-collapse: collapse;
  overflow: auto;
  height: inherit;
  min-height: inherit;
  font-size: 1.2vw;

  td,
  th {
    font-size: 1.1vw;
    background-color: unset;
    padding: unset;
    color: var(--light-accent);
    vertical-align: middle;
    .job-input-label {
      display: unset;
    }
  }
  thead {
    background-color: var(--dark-grey);
    tr {
      border-bottom: unset;
    }
    th {
      border-right: none;
    }
  }
  tbody {
    background-color: var(--dark-grey);

    tr {
      border-bottom: unset;
      &:hover {
        background-color: unset;
      }
    }
    td {
      border-right: unset;
    }
  }
}

#job-quantities-table {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  text-align: left;
  .job-input {
    text-align: center;
  }
  th {
    font-weight: unset;
    padding: 0.25rem 0;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    select {
      width: 100%;
      margin-left: 0.25vw;
      font-size: 1.1vw;
    }
  }
  td {
    padding: 0.25vh 0;
  }
}

#quote-info-table {
  width: 100%;
  td {
    padding: 0.5rem 0.5rem;
    text-align: left;
    height: 5vh;
    input {
      width: 100%;
      font-size: 1.1vw;
      padding-left: 0.25rem;
    }
    textarea {
      width: 100%;
      border-radius: 5px;
      max-height: 5vh;
      padding: 5px;
      font-size: 1.1vw;
      resize: none;
    }
  }
}
.status-select {
  font-size: 1.1vw;
  background-color: var(--white);
  color: var(--text-black);
  width: 25vw;
}

.status-select__control {
  min-height: unset !important;
  max-height: 5vh;
}

.status-select__value-container {
  max-height: 4.5vh;
  overflow-y: scroll !important;
  align-items: baseline !important;
}

.quote-info-select {
  width: 90%;
  font-size: 1.1vw;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  background-color: var(--white);
  color: var(--text-black);
}

.customer-select__control {
  min-height: unset !important;
  height: 100%;
}

.customer-select__value-container {
  padding-left: 5px;
}

.customer-select__menu {
  position: absolute;
  margin-top: 1px;
  background-color: field;
}

.customer-select__menu-list {
  background-color: field;
}

.customer-select__option {
  padding: 0 5px;

  &:hover,
  &:active {
    background-color: lightblue;
  }
}

#extraCharges-table {
  min-height: unset;
  margin-bottom: 0.75vh;

  th {
    font-weight: unset;
    padding: 0.25rem 0;
  }
  td {
    vertical-align: text-top;
    .job-input {
      width: 15ch;
    }
  }
  button {
    font-size: 1.2vw;
    width: 1.25vw;
    color: var(--light-accent);
    background-color: var(--dark-grey);
  }
}

#job-cost-table {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  td {
    .job-input {
      text-align: center;
      margin: unset;
      width: 10.5ch;
    }
    padding: 0.25vh 0.25vw;
  }
}

.job-input-button {
  width: 100%;
  font-size: 1.1vw;
}

.add-job-button {
  text-align: center;
  width: 30vw;
  height: 7.5vh;
  margin: 1vh 0;
  border-radius: 15px;
  background-color: var(--dark-grey);
  color: var(--light-accent);
  font-size: 2rem;

  &:hover {
    background-color: var(--light-accent);
    color: var(--dark-grey);
  }
}

#job-controls-table {
  td {
    label {
      user-select: none;
      cursor: pointer;
    }
  }
}
