@import "./scssStyles/_mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  @include devices(tablet) {
    user-select: none;
  }
}

:root {
  --dark-mode: false;
}

html {
  background-color: var(--dark-blue);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter-Bold", sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  transition: text-decoration-color 250ms;
  cursor: pointer;
  background: linear-gradient(to left, #0000ee, #0000ee);
  background-size:
    100% 2px,
    0 2px;
  background-position:
    0% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

input,
textarea,
select,
button {
  background-color: var(--white);
}

button,
th {
  user-select: none;
}

::placeholder {
  color: var(--text-black);
}

a:hover {
  transition: background-size 400ms;
  background-size:
    0% 2px,
    100% 2px;
}

.no-link-style {
  background: none !important;
  text-decoration: none !important;
  color: unset;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.08);
  @include devices(tablet) {
    transform: unset;
  }
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 300ms,
    transform 300ms;
  @include devices(tablet) {
    transform: unset;
    transition: opacity 300ms;
  }
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.92);
  transition:
    opacity 300ms,
    transform 300ms;
  @include devices(tablet) {
    transform: unset;
    transition: opacity 300ms;
  }
}

.navbar-space-top {
  height: 45px;
  @include devices(tablet) {
    height: 0px;
  }
}

.error-success-box-snackbar-fixed {
  position: fixed;
  bottom: 20px;
  left: 0px;
  z-index: 100;
  @include devices(tablet) {
    bottom: 65px;
  }
}

.display-only-tablet {
  display: none;
  @include devices(tablet) {
    display: unset;
  }
}

.display-only-desktop {
  display: unset;
  @include devices(tablet) {
    display: none;
  }
}
