table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  font-size: 1rem;
}

th,
td {
  padding: 0.75vh 0.5vw;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--black);
}
thead {
  background-color: var(--light-grey);
  tr {
    border-bottom: 1px solid #000000;
  }
  th {
    text-align: center;
    border-right: 1px solid #000000;
    .header-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 10vh;
    }
    .filter-input {
      font-size: large;
      width: 100%;
    }
  }
}
tbody {
  background-color: var(--light-grey);

  tr {
    border-bottom: 1px solid #000000;
    &:hover {
      background-color: rgba(135, 135, 135, 0.714);
    }
    .badge {
      display: block;
      text-align: center;
      background-color: var(--light-accent);
      color: #fff;
      margin: 0.25rem;
      padding: 0.5rem;
      border-radius: 15px;
      user-select: none;
    }
  }
  td {
    position: relative;
    border-right: 1px solid #000000;
  }
}

.global-search {
  width: 100%;
  background-color: var(--dark-grey);
  border-radius: 0 15px 0 0;
  label {
    display: block;
    color: var(--light-accent);
    font-size: 20px;
    font-weight: 300;
    padding: 1vh 0.5vw;
    input {
      width: 50%;
      padding: 0.5vh 0.75vw;
      border-radius: 5px;
      border: 1px solid #000000;
      font-size: 16px;
      &:focus {
        outline: #fff;
      }
    }
  }
}

.data-loading{
  background-color: var(--dark-grey);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 10vh 0;
}
/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
 .dot-flashing {
  position: relative;
  margin-left: 2vw;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color:  var(--white);
  color:  var(--white);
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color:  var(--white);
  color:  var(--white);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color:  var(--white);
  color:  var(--white);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color:  var(--white);
  }
  50%, 100% {
    background-color: rgba(146, 146, 146, 0.865);
  }
}