<h4>Jobs</h4>
<form ng-submit="search()" ng-controller="JobSearch" class="job-search-container">
    <input type="text" ng-model="DocketNumber" placeholder="Docket Number" />
    <input type="text" ng-model="QuoteNumber" placeholder="Quote Number" />
    <input type="text" ng-model="Customer" placeholder="Customer" />
    <input type="text" ng-model="CustomerPO" placeholder="Customer PO" />
    <input type="text" ng-model="JobName" placeholder="Job Name" />    <input type="text" ng-model="Finishing" placeholder="Finishing" />
    <input type="text" ng-model="SpecialInstructions" placeholder="Special Instructions" />
    <input type="text" ng-model="NumberOfUnits" placeholder="Number of Units" />
    <input type="date" ng-model="from" placeholder="From"/>
    <input type="date" ng-model="to" placeholder="To"/>
    <button class="button">Search</button>
</form>
                                