<h4>Quotes</h4>
<form ng-submit="search()" ng-controller="OldQuoteSearch">
	<input type="text" ng-model="QuoteNumber" placeholder="Quote Number" />
	<input type="text" ng-model="Customer" placeholder="Customer" />
	<input type="text" ng-model="Attention" placeholder="Attention" />
	<input type="text" ng-model="JobName" placeholder="Job Name" />
	<input type="text" ng-model="Description" placeholder="Description" />
	<input type="text" ng-model="Notes" placeholder="Notes" />
	<input type="text" ng-model="Author" placeholder="Author" /> 
    <input type="date" ng-model="from" placeholder="From"/>
    <input type="date" ng-model="to" placeholder="To"/>  
	<input type="submit" class="button"></input>
</form>