<h4>Quotes[2.0]</h4>
<form ng-submit="search()" ng-controller="QuoteSearch" class="new-quote-search-container">
    <input type="text" ng-model="quoteNumber" placeholder="Quote Number"/>
    <input type="text" ng-model="customer" placeholder="Customer"/>
    <input type="text" ng-model="attention" placeholder="Attention"/>
    <input type="text" ng-model="jobName" placeholder="Job Name"/>
    <input type="text" ng-model="description" placeholder="Description"/>
    <input type="text" ng-model="notes" placeholder="Notes"/>
    <input type="text" ng-model="author" placeholder="Author"/>
    <input type="date" ng-model="from" placeholder="From"/>
    <input type="date" ng-model="to" placeholder="To"/>
    <input class="button" type="submit" value="Search"/>
</form>