/* 
    Document   : sortable
    Created on : Oct 26, 2012, 8:25:25 AM
    Author     : Peter
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   This CSS styles the job priority queue
*/

body {
    width: 100%;
    height: 100%;
    /*    text-align: center;*/
    background-color: white; /* Pastel teal */
    font: 0.9em calibri, helvetica, arial, sans-serif;

}

.sortableJob { 
    margin: 2px auto;
    padding: 6px;
    width: 166px;
    background-color: white;
    text-align: center;
    /*height: 80px;*/
    -moz-border-radius: 15px;
    border-radius: 15px; 
    float: left;
}
.ghostJob { 
    margin: 2px auto;
    padding: 6px;
    width: 166px;
    background-color: #E0E0E0;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px; 
    float: left;
}

.sortableDay {
    background-color: #ea7602;
    width: 180px;
    display: inline-block;
    float: left;
    padding: 2px;
    height: 1178px;
    margin: 5px;
    border-radius: 5px;
}

#JobBankContainer {
    width: 1000px;
    overflow: auto;
}

#JobBank, .week {
    /* Helps keep the inner divs inside the border */
    float: left;
    width: 891px;
    padding: 10px;
    background-color: #ea7602;
    margin: 5px;
    margin-right: 1000px;
    border-radius: 10px;
    display: inline;
}


#JobBank>.sortableJob, .week>.sortableJob {
    float:left;
    margin: 2px;
}

.dismiss {
    float:right;
    color: red;
}

.message {
    font-style: italic;
    float: left;
}

.user, .messageDate, .messageTime {
    float: right;
    font-size: 8pt;
}

.messageBox {
    width: 168px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #d1f2ff;
    border-radius: 10px;
    float: left;
}

.lock {
    float:right;
    margin-right: 10px;
    display: none;
}
.lock:hover {
    color: red;
}
.dismiss:hover {
    color: #3B99D9;
}
.dismiss:active { 
    color: #7E2024;
}
.lock:active { 
    color: #7E2024;
}
.unlock {
    float: right;
    margin-right: 10px;
    display: none;
}

.unlock:hover {
    color: white;
}

.unlock: active {
    color: #7E2024;
}

.company {
    font-weight: bold;
}

.jobName {
    font-style: italic;
}

.weekButton {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 200px;
    float: left;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.next3Week {
    margin-right: 1000px;
}

#daysOfWeek {
    width: 980px;
    height: 1208px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#innerDaysOfWeek {
    width: 1300px;
    float: left;
    height: 1208px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.date {
    margin-right: 730px;
    /*text-shadow: 0px 1px 0px #ffffff;*/
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

#jobBank, #JobBank {
    background-color: #ea7602;
}

#thisWeek, .thisWeek {
    background-color: #e28324;
}

#nextWeek, .nextWeek {
    background-color: #e08e41;
}

#next2Week, .next2Week {
    background-color: #db9c62;
}

#next3Week, .next3Week {
    background-color: #BCE5FF;
}

#refreshJobBank {
    background-color: #ea7602;
}
.saveNotes{
    display: none;
    margin: 5px 10px 10px;
}

.notes {
    width: 156px;
}

.locked {
    background-color: #F6CCDA;
}

.saveButton {
    display: none;
}

.copy, .expand {
    float: left;
    margin-right: 10px;
}

li {
    list-style-type: none;
}
/* Beneath is code generated by iconmoon */

@font-face {
    font-family: 'iconic';
    src:url('fonts/iconic.eot');
    src:url('fonts/iconic.eot?#iefix') format('embedded-opentype'),
        url('fonts/iconic.svg#iconic') format('svg'),
        url('fonts/iconic.woff') format('woff'),
        url('fonts/iconic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'iconic';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'iconic';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.icon-untitled:before {
    content: "\e001";
}

.icon-untitled-2:before {
    content: "\e002";
}

.icon-untitled-3:before {
    content: "\e003";
}

.icon-untitled-4:before {
    content: "\e005";
}

.icon-untitled-5:before {
    content: "\e004";
}

.icon-fullscreen:before {
    content: "\e006";
}

.icon-untitled-6:before {
    content: "\e000";
}
